html {
    font-family: sans-serif;
    font-size: small;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid #0000002b;
    border-width: 0 1px;
    white-space: nowrap;
}

td {
    text-align: center;
}

th {
    background: #888;
}

    th[scope="col"] {
        background: #ccc;
    }

tr:nth-child(even) {
    background: #eee;
}

tr:nth-child(odd) {
    background: #ddd;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}